@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change {
    0% {
      color: #ffffff; /* Start color: white */
    }
    25% {
      color: #ff0000; /* Red */
    }
    50% {
      color: #055505; /* Green */
    }
    75% {
      color: #0000ff; /* Blue */
    }
    100% {
      color: #ffffff; /* End color: white */
    }
  }

  @keyframes bg-color-change{
    0% {
      background-color: #ffffff; /* Start color: white */
    }
    25% {
      background-color: #54bf54; /* Red */
    }
    50% {
      background-color: #1d8b1d; /* Green */
      color: #ffffff; /* Start color: white */
    }
    75% {
      background-color: #055505; /* Blue */
      color: #ffffff; /* Start color: white */
    }
    100% {
      background-color: #ffffff; /* End color: white */
    }
  }
  
  .animate-color-change-phone {
    animation: color-change 5s infinite;
  }

  .animate-color-change-cta {
    animation: bg-color-change 5s infinite;
  }

  .animate-color-change-cta-rev{
    animation: bg-color-change 5s infinite reverse;
  }
